<!-- Stdudent Name: Nusratullah Mohammadi
    ID: 301333015
    File Name: Footer.ejs
    Date: October 5, 2023
   -->

<script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>