<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">About Me</h1>
    <p>Hi, I'm Nusratullah Mohammadi.</p>
    <p>I'm currently a teacher for the Calgary Board of Education, teaching math and science courses.
       I have teaching experience at the junior high and high school grade levels. 
       Recently, I have developed a passion for software engineering after being exposed 
       to the field of work through several of my friends who are software developers. I decided to join
       bootcamps that taught HTML and CSS. I found it very enjoyable, and ultimately this 
       propelled me to continue further and enroll into Centennial College to receive
       formal education. </p>
    <p>I'm a very active person. Throughout my years, I have been involved in some sport or activity such as
      basketball, soccer, football, judo and weightlifting. I love working out. I prioritize my health and wellness very highly. 
    </p>
    <p><a href="../../public/Assets/resume.pdf" download>Download Resume (PDF)</a></p>
    <img src="/img/selfie_algarve.jpg" alt="A Selfie" class="img-thumbnail">
  </div>
</main>

<!--bottom nav-->

<!--script section-->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
