<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">About Me</h1>
    <p>Hi, I'm [Your Legal Name].</p>
    <p>I'm a passionate [Your Profession] with a love for technology and innovation.</p>
    <p><a href="../../public/Assets/resume.pdf" download>Download Resume (PDF)</a></p>
    <img src="/your_profile_image.jpg" alt="Your Name" class="img-thumbnail">
  </div>
</main>

<!--bottom nav-->

<!--script section-->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
