<!-- Stdudent Name: Nusratullah Mohammadi
    ID: 301333015
    File Name: Projects.ejs
    Date: October 5, 2023 -->
  


<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Projects</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project 1: JAVA Calculator Application using Intellij Idea</h5><br>
            <p class="card-text"><b>Project Description:</b> Build a basic calculator application that can 
              perform arithmetic operations such as addition, subtraction, multiplication, and division. 
              The application should have a simple interface with numeric buttons and an output display. <br><br>
              <b>My Role:</b> Designing the calculator interface, implementing the logic for performing calculations, 
              and ensuring that the application accurately computes results. <br><br>
              <b>Outcome: </b>The outcome of this project is a working calculator application that showcases my 
              programming skills and understanding of fundamental mathematical operations.</p>
              <img src="/img/calculator.png" alt="Project 1" class="card-img-top">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project 2: Simple Web Page</h5><br>
            <p class="card-text"><b>Project Description: </b> Build a basic web page using HTML, CSS, and JavaScript. 
              The web page should include multiple sections, such as an introduction, your portfolio, and a contact form. 
              Implement simple interactivity, such as form validation. <br><br>
              <b>My Role:</b> Design the layout of the web page, apply styles using CSS, and add interactivity using JavaScript. 
              Implement form validation to ensure data integrity. <br><br>
              <b>Outcome: </b>The outcome of this project is a live web page that showcases my front-end web development skills, 
              including HTML, CSS, and JavaScript.</p>
              <img src="/img/webpage.png" alt="Project 2" class="card-img-top">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project 3: Number Guessing Game</h5><br>
            <p class="card-text">Project Description: Develop a number guessing game in which the computer selects 
              a random number, and the user tries to guess it. Provide hints to help the user narrow down their 
              guesses (e.g., "too high" or "too low"). The game should keep track of the number of attempts.<br><br>
              <b>Your Role: </b>Implementing the game logic, generating random numbers, handling user input, and 
              displaying messages to guide the user.<br><br>
              <b>Outcome: </b>The outcome of this project is an interactive number guessing game that demonstrates 
              my ability to work with conditional statements and user input.</p>
              <img src="/img/guessinggame.jpg" alt="Project 3" class="card-img-top">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<!--bottom nav-->

<!--script section-->

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>


