<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Services</h1>
    <p>We offer a wide range of services to meet your needs:</p>
    <ul>
      <li>
        <h4>Web Development</h4>
        <p>We create responsive and user-friendly websites.</p>
        <img src="/web-development.jpg" alt="Web Development" class="img-thumbnail">
      </li>
      <li>
        <h4>Mobile App Development</h4>
        <p>We design and develop mobile applications for iOS and Android.</p>
        <img src="/mobile-apps.jpg" alt="Mobile App Development" class="img-thumbnail">
      </li>
      <li>
        <h4>General Programming</h4>
        <p>We provide programming solutions for various platforms.</p>
        <img src="/programming.jpg" alt="General Programming" class="img-thumbnail">
      </li>
    </ul>
  </div>
</main>

<!--bottom nav-->

<!--script section-->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
